/* ����ͼ�� �Ѽ����� www.lanrentuku.com */

/* MeyerWeb Reset */
 ul, li
 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}




ul {
  list-style: inside;
  /*padding-left: 25px;*/
}


/* Images */

/*img {*/
  /*position: relative;*/
  /*margin: 0 auto;*/
  /*max-width: 650px;*/
  /*padding: 5px;*/
  /*margin: 10px 0 32px 0;*/
  /*border: 1px solid #ccc;*/
/*}*/



.iSlider-effect {
  height: 310.5px;
  width: 225px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 1px solid #000000;
}

.iSlider-effect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.iSlider-effect li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.iSlider-effect ul li img{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.iSlider-effect div{
  background-color: #ffffff;
  padding: 3px;
}
