*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
body{
	background-color: rgb(240,240,240);
}
.fenge{
	width: 100%;
	height: 10px;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid rgb(220,220,220);
}
.body_ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(220,220,220);
	width: 100%;
	height: 60px;
	background-color: white;
}
.body_ul li p:first-child{
	width: 100px;
	height: 60px;
	line-height: 60px;
	margin-left: 2%;
	margin-right: 5%;
	color: rgb(120,120,120);
	font-size: 14px;
}
.body_ul li img{
	width: 27px;
	height: 27px;
	margin-top: 16px;
	margin-left: 55%;
}
input{
	color: rgb(100,100,100);
	font-size: 14px;
	font-weight: 500;
	width: 70%;
	outline:none;
}
.edit_pro{
	color: rgb(100,100,100);
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	width: 70%;
	display: flex;
	align-items: center;
	margin: 0!important;
}
.btn{
	position: fixed;
	bottom:0;
	width: 100%;
	height: 48px;
	background-color: #ff5500;
	text-align: center;
}
.btn p{
	color: white;
	font-size: 16px;
    height: 48px;
    line-height: 48px;
}
.edit_a{
	display: block;
	width: 56px;
	height: 26px;
	background-color: #ff5500;
	color: white;
	font-size: 14px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2%;
}
